/* Estilo base */
:root {
    --size: 50px;
    --frames: 62;
}

html {
    background-color: #15202B;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

body {
    background-color: transparent;
    font-family: Arial, sans-serif;
}

/* Cabecera */
header {
    background-color: #343a40;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 16px;
}

/* Zona de navegación */
.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 24px;
}

/* Estilos de las tarjetas */
.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-subtitle {
    color: #6c757d;
}

.listado {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.puntuacionYFavorito {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

fieldset {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 8px;
}

fieldset>legend {
    font-size: 1rem;
    font-weight: bold;
}

/* Botón de like */
.like {
    display: block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border-radius: 50%;
    overflow: visible;
}

.hearth {
    background-image: url('https://assets.codepen.io/23500/Hashflag-AppleEvent.svg');
    background-size: calc(var(--size) * var(--frames)) var(--size);
    width: var(--size);
    height: var(--size);
}

input:checked + .hearth {
    animation: like 1s steps(calc(var(--frames) - 3));  
    animation-fill-mode: forwards;
}

@keyframes like {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: calc(var(--size) * (var(--frames) * -1 + 3));
    }
}

/* Filtros y búsqueda */
#searchInput {
    margin-top: 10px;
}

#filterSelect, .form-check-input {
    margin-top: 10px;
}

footer {
    background-color: #343a40;
    color: white;
}
